doctype html
html(lang="en")
  head
    title Jade demo
    script(type='text/javascript').
      console.log("cool beans")
  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.